// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  background: #f8f9fa;
  margin: 15px;
  width: 25%;
}

.container {
  background: #ffffff;
  display-flex: spacious;
}
